.charBox {
	display: flex;
	align-items: center;
	justify-content: center;
}

.charDiv {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border-style: solid;
	border-width: 3px;
	border-color: blue;
}

.attacker {
	border-color: green;
}

.defender {
	border-color: red;
}